.video-details {
  padding: 30px 40px;
  @media(max-width: 600px){
    padding: 30px 10px;
  }
  &__container {
    display: flex;
  }
  &__player {
    flex: 1;
    background-color: var(--gray);
    height: 500px;
    @media(max-width: 600px){
      max-height: 300px;
    }
    video{
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    &>* {
      margin: 0;
    }
    p {
      margin-top: 5px;
    }

  }
  &__socials {
    display: flex;
    .icon-button {
      color: var(--white);
      display: flex;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
      &.like-button, &.dislike-button {
        font-size: 15px;
        &.active {
          svg {
            fill: var(--red);
          }
          
        }
      }
      svg {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        fill: var(--text-secondary);
      }
    }
  }
  &__comments {
    &-box{
    margin-bottom: 50px;

      display: flex;
      margin-top: 50px;
      align-items: center;;
      &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-self: start;
        margin-top: 20px;
        margin-right: 30px;
      }
      &-input-container {
        flex: 1
      }
      &-input {
        border: none;
        border-bottom: 1px solid var(--white);
        color: var(--white);
        background-color: transparent;
        width: 100%;
        flex: 1;
        margin-bottom: 20px;
        padding: 10px;
        &:active, &:hover {
          border: none;
          border-bottom: 1px solid var(--white);
          outline: none;
        }
      }
      .button-wrapper {
        display: flex;
        justify-content: flex-end;
        .cancel {
          cursor: pointer;
          background-color: transparent;
          color: var(--text-gray);
          padding: 10px 20px;
          text-transform: uppercase;
          border: none;
          cursor: pointer;
          &:hover, &:active {
            border: none;
            outline: none;
          }
        }

        .comment {
          cursor: pointer;
        }


        .comment{
          text-transform: uppercase;
          cursor: pointer;

        }
        
      }

    }
  }

  &__user-comments{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    
    p {
      margin: 0;
    }
    .time {
      color: var(--text-secondary);
    }
    .top {
      font-size: 13px;
    }
    .bottom {
      font-size: 13px;
      margin-top: 10px;
    }
    .avatar {
        width: 40px;
        height:  40px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 0
    }
  }
  &__profile {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    .icon-button{
      padding: 0;
      margin-right: 5px;
      cursor: pointer;
      margin-left: 20px;
      svg {
        width: 30px;
        height: 30px;
        stroke: #fff;
      }
    }
    &-subs {
      font-size: 12px;
      color: var(--text-secondary);
      margin-top: 5px;
    }
    &-img{
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 20px;
    }
    &-texts{
      p {
        margin: 0;
        }
    }
    &-buttons{
      margin-left: auto;
      
      &> * {
        display: inline-flex;
        align-items: center;
      }
      &-subscription {
        cursor: pointer;
        &:focus, &:active {
          border: none;
          outline: none;
        }
        &.active {
          background-color: red;
          color:  var(--white);
        }
        
        border: none;
        padding: 10px 16px;
      }
    }
  }
  &__video-list {
    overflow: scroll;
    width: 400px;
    margin-left: 40px;
    
    @media(max-width: 950px){
      display: none;
    }
    &>* {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
 
}